<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconBBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBenson</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Benson</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBlueJay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue Jay</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBlueprints</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blueprints</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBurton</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Burton</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconCBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCarroll</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Carroll</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconDarkMode</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark Mode</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconFoil</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Foil</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconFoilDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Foil Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Gold-Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGrannySmith</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Granny Smith</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconLayout</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Layout</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconMargot</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Margot</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNewsprint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Newsprint</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNicholas</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Nicholas</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOG</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGMargot</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Margot</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGMonochrome</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Monochrome</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGPride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGPumpkin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Pumpkin</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGSixColors</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Six Colors</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPaperDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Paper Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPaperLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Paper Light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPrideDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPrideLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride Light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPrideSlant</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride Slant</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSchultz</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Schultz</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSixColors</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Six Colors</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSixColorsDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Six Colors Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSixColorsLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Six Colors Light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSixColorsSlant</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Six Colors Slant</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSoft</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Soft</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconStealth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Stealth</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSticker</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Sticker</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Icon6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconB6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconB6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconBBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBenson</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Benson</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBlueJay</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue Jay</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBlueprints</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blueprints</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconBurton</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Burton</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconC6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconC6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconCBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconCarroll</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Carroll</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconDarkMode</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Dark Mode</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconFoil</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Foil</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconFoilDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Foil Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Gold-Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconGrannySmith</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Granny Smith</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconLayout</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Layout</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconMargot</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Margot</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNewsprint</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Newsprint</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconNicholas</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Nicholas</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOG</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGMargot</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Margot</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGMonochrome</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Monochrome</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGPride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGPumpkin</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Pumpkin</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGSixColors</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG Six Colors</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconOGWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>OG White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPaperDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Paper Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPaperLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Paper Light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPrideDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPrideLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride Light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconPrideSlant</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pride Slant</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSchultz</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Schultz</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSixColors</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Six Colors</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSixColorsDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Six Colors Dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSixColorsLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Six Colors Light</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSixColorsSlant</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Six Colors Slant</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSoft</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Soft</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconStealth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Stealth</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIconSticker</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Sticker</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon1</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mammoth</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlemail</string>
		<string>ms-outlook</string>
		<string>readdle-spark</string>
		<string>ymail</string>
		<string>discord</string>
		<string>ddgQuickLink</string>
		<string>firefox</string>
		<string>firefox-focus</string>
		<string>googlechrome</string>
		<string>googlechromes</string>
		<string>microsoft-edge-http</string>
		<string>microsoft-edge-https</string>
		<string>opera-http</string>
		<string>opera-https</string>
		<string>touch-http</string>
		<string>touch-https</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
		<string>PostPostIntent</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>fa-brand.otf</string>
		<string>fa-solid-900.ttf</string>
		<string>custom-icons.ttf</string>
		<string>fa-regular-400.ttf</string>
		<string>InstrumentSerif-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
